# This is used for testing Production locally, on our real deploy it will be set via Renders Dashboard
FLASK_ENV=production
SECRET_KEY=dev-safe-fake-key
DATABASE_URL=postgresql://postgres:password@db:5432/postgres
FRONTEND_URL=http://localhost:5173
